/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); 
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  } */


/* block section */
/* blog post section */
.blog{
 
  display: flex;
  justify-content: space-between;
}
.video{
    width:65%;
   
  }
.video_preview{
  width: 100%;
  height: 500px; 
  position: relative;
}
.video_preview>img {  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}


.blogpost {
  width: 35%;
  flex-shrink: 0;
  
}
.blogpost_preview {
  display: flex;
  padding: 10px;
  border-radius: 8px;
  transition: var(--transition);
  position: relative;
}
.blogpost_preview:last-child{
  margin-bottom: 0;
}
.blogpost_preview:hover,
.blogpost_preview.active{
  background: var(--alt-color);
}
.post-date {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 3px;
}

.small-desc-block {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  
}
/* .blogpost_preview:hover  .small-desc-block,
.blogpost_preview.active .small-desc-block {
  height: auto;
  opacity: 1;
  transform: scale(1);
  position: static;
  width: calc(100%);
  background-color: var(--alt-color);
  z-index: 1;
  border-radius: 8px;
  transition: var(--transition);
  padding: 0 10px 10px 0px;
} */
.blogpost_preview:hover  .small-desc-block,
.blogpost_preview.active .small-desc-block {
  height: auto;
  opacity: 1;
  transform: scale(1);
  position: static;
   position:absolute ;
  width: calc(100% + 150px);
  right: -10px;
  left: -140px;
  background-color: var(--alt-color);
  z-index: 1;
  border-radius: 8px;
  top: calc(100%);
  transition: var(--transition);
  padding: 0 10px 10px 140px;
}
.blogpost_preview:hover .blogpost_preview_img,
.blogpost_preview.active .blogpost_preview_img{
  position: relative;
  z-index: 2;
 
}
.excerpt {
  font-size: 0.9rem;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.blogpost_preview_img{
  width: 120px;
  height:80px;
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 8px;
  overflow: hidden;

}
.blogpost_preview_img>img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.stick-view{
  position:-webkit-sticky;
    position: sticky;
    top: 20px;
}
.blogpost_preview_txt{
  padding-top: 5px;
  position: relative;
  height: max-content;
  width: 100%;
}

/* end of blog post section */
.catagoty-badge li{
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
}
.catagoty-badge li a {
  display: inline-block;
  background: var(--alt-color-dark);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--alt-color);
  transition: var(--transition);
  text-decoration: none;
}
.catagoty-badge li a:hover {
  transform: scale(1.025);
}


/* Feature post */
.feature-post{
  position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.feature-post .read-more::before{
  display: none;
}
.feature-post:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0 0 0 / 90%) 10%, transparent);
  position: absolute;
  z-index: 0;
}
.video_preview_description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  color: var(--bs-white);
}
.video_preview_description a{
  color: var(--bs-white);;
}

.video_preview_description .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video_preview_description h3{
  color:var(--bs-white);
}


/* Post type */
/* Feature post */
.blog-post{
  position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.blog-post:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0 0 0 / 90%) 10%, transparent);
  position: absolute;
  z-index: 0;
}
.blog-post.with-detail .blog-description .catagoty-badge a{
  color: var(--alt-color);
}
.blog-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  color: var(--bs-white);
}
.blog-description a.read-more{
  color: var(--bs-white);
  margin-left: 10px;
}
.read-more{
  text-decoration: none;
}
.blog-description .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* with details */
.blog-post.with-detail {

  border-radius: 10px;
  overflow: visible;
}
.blog-post.with-detail p.excerpt {
  -webkit-line-clamp: 2;
}
.blog-post.with-detail .blog-description{
  position: static;
  padding: 20px 0px;
  margin-top: 5px;
}
.blog-post.with-detail:after{
  content: none;
}
.blog-post.with-detail .image-preview {
  border-radius: 10px;
  overflow: hidden;
  
}
.blog-post.with-detail .image-preview img{
  object-fit: cover;
  object-position: center center;
  transition: var(--transition);
  width: 100%;
  height: 100%;

}

.blog-post.with-detail:hover .image-preview img{
  transform: scale(1.1);
}
.blog-post.with-detail .blog-description,
.blog-post.with-detail .blog-description a {

  color: var(--font-color);
}



.read-more{
    position: relative;
}
.read-more:before {
  content: "";
  width: 30px;
  height: 30px;
  background: var(--alt-color);
  position: absolute;
  left: -11px;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  z-index: -1;
  transition: var(--transition);
  margin: auto;
}
.read-more:hover:before {
  width: calc(100% + 24px);
}


/* Tags / catagory */

.blog-post.with-detail.catagory-list {
  padding: 20px;
  background: var(--alt-color);
  border-radius: 12px;
  margin-top: 20px;
}

.news-letter .subscribe-form{
    background: var(--bg-color);
}




/* ========================
        Profile page
===========================  */
.profile-page .container{
  max-width: 1170px;
}
.profile-title {
  font-size: 6rem;
  line-height: 1;
}

.profile-image {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
  transition: var(--transition);
}

.profile-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--alt-color);
  position: absolute;
  left: 25px;
  right: 0;
  top: -23px;
  z-index: -1;
  border-radius: 50%;
  transition: var(--transition);
}

.profile-image:hover:before {
  transform: translate(0px,25px);
}

.profile-image:hover img {
  transform: translate(50px, 0px);
}

/* What i do */
.whatido p {
  font-weight: 100;
  font-size: 0.88rem;
  opacity: 0.8;
}


.expirince{
  overflow: hidden;
  position: relative;
}
[data-theme="dark"] .expirince object#BrainImage{
  opacity: 0.4;
}
/* #BrainImage{
  height: 100vh;
} */
object#BrainImage {
  position: absolute;
  opacity: 1;
  max-width: 40%;
  height: calc(100% - 5px);
  right: 0;
  left: inherit;
  width: 100%;
  z-index: 11111;
  animation: filteranim 5s linear 2s infinite alternate;
}
@keyframes filteranim{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }

}
.expirince-list{
  padding-left: 0;
  list-style: none;
  
}
.expirince-list li {
  max-width: 767px;
  padding: 20px 0;
  margin-bottom: 30px;
  transition: var(--transition);
}
.expirince-list li.active{
  opacity: 1;
  transform: scale(1.1);
  padding:20px;
  background: var(--alt-color);
  border-radius: 20px;
}

.e-date {
  font-size: .85rem;
  opacity: 0.8;
}
.e-desc {
  font-size: 0.94rem;
}




/* skill  */

.progress-main{
  position: relative;
}
svg.progress-svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  stroke-dasharray: 366;
  transform: rotate(-90deg);
}
.progress-svg #Ellipse_1{
  stroke: var(--skill-front);
}
.main-svg #Ellipse_1{
  stroke: var(--skill-back);
}
.progrees-skill{
  margin-top: 10px;
  margin-right: 15px;
}
.progrees-skill,.percent{
  position: relative;
  display: inline-block;
  text-align: center;
}
.number{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number .percentage {
  font-size: 12px;
  margin-bottom: 0;
}

.progrees-skill .title p {
  font-size: 0.7rem;
  margin-top: 8px;
  font-weight: 600;
  margin-bottom: 0;
}

/* Detail-page */
.blog-feature-block{



}


.aurther-name a {
  margin-left: -25px;
  position: relative;
  display: inline-block;
  transition: var(--transition);
}
.aurther-name a:hover{
    transform: scale(1.08);
    z-index: 2;
}
.aurther-name a:first-child{
  margin-left: 0;
}
.aurther-name .image-outer{
width: 60px;
height: 60px;
display: inline-block;
}

.aurther-name img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.aurther-name {
  display: inline-block;
  vertical-align: middle;
}


.aurther-name p {
    font-size: 0.8rem;
}
.aurther-name a{
  text-decoration: none;
  color: var(--font-color);
}

.blog-main .img_preview {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.blog-main .img_preview img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: center;

}

.blog-feature-block {
  background:var(--bg-color);
  padding: 40px;
  position: relative;
  margin-top: -150px;
  z-index: 9999999;
  border-radius: 8px;
}

.blog-feature-block:before {
  content: "";
  width: 100%;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  box-shadow:0 -6px 57px -23px rgb(0 0 0 / 18%)
}

.blog-desc {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c8c8c8;
}

.blog-desc .h1{
  font-size: 3rem;
}
.blog-main .container{
  max-width: 1170px;
}
.post p {
  line-height: 1.6;
  font-size: 1.3rem;
}
.post img{
  margin: 20px 0;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.related-sldier .blog-post{
  margin: 0 15px;
}
.blog-post .catagoty-badge li a{
  font-size: 0.7rem;
  border-radius: 2px;
}
.related-sldier .title{
  color: var(--bs-white);
}
.related-sldier .blog-post .catagoty-badge li a{
  background-color: var(--bs-white);
  color: var(--bs-black);
}
/* ===============
       slider
================== */

.slider-main {
  position: relative;
}
.arrow {
  width: 50px;
  height: 50px;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
  font-size: 13px;
  box-shadow: 11px 4px 22px -15px #000;
  position: relative;
}
.arrow-main {
  position: absolute;
  top: 45%;
  width: 95%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 999999999;
}

.arrow:hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -4px;
  top: -4px;
  border-radius: 50%;
  filter: blur(30px);
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: linear-gradient(-45deg, #96fd90, #bd0d51, #b4ff8f, #f9cece);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
    opacity: 0.5;
  }
  100% {
    background-position: 0% 50%;
  }
}
.arrow-left {
  opacity: 0;
  display: none;
  float: left;
}
.arrow-right {
  float: right;
}
.show-left-arrow,
.show-right-arrow {
  opacity: 1;
  display: flex;
}
.hide-left-arrow,
.hide-right-arrow {
  opacity: 0;
  display: none;
}


.slider-main {
  padding: 20px 0;
}


.landing-wrapper {
  width: 100%;
  /*   max-width:1170px; */
  margin: 0 auto;
  /*  height: 300px;*/
  /*   margin:20px auto; */
  padding: 0;
  /*   position: relative; */
  overflow: auto;
  /*  border: 1px solid #333;*/
  cursor: pointer;
}
.landing-wrapper {
  postion: relative;
}
.landing-wrapper::-webkit-scrollbar {
  display: none;
}
.landing-wrapper {
  scrollbar-width: none;
}

.landing-inner-content {
  background: #fff;
}

.items {
  float: left;
  overflow: hidden;
}

.box-content {
  height: 200px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  background: linear-gradient(to top, #2e5266, #6e8898);
  transition: 1s;
  margin: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.box-content:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -5rem;
  filter: blur(4px);
}
