/* @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); 
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  } */


/* block section */
/* blog post section */
.blog{
 
  display: flex;
  justify-content: space-between;
}
.video{
  width:65%;
 
}
.video_preview{
  width: 100%;
  height: 500px; 
  position: relative;
}
.video_preview>img {  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}


.blogpost {
  width: 35%;
  flex-shrink: 0;
  
}
.blogpost_preview {
  display: flex;
  padding: 10px;
  border-radius: 8px;
  transition: var(--transition);
  position: relative;
}
.blogpost_preview:last-child{
  margin-bottom: 0;
}
.blogpost_preview:hover,
.blogpost_preview.active{
  background: var(--alt-color);
}
.post-date {
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 3px;
}

.small-desc-block {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  
}
/* .blogpost_preview:hover  .small-desc-block,
.blogpost_preview.active .small-desc-block {
  height: auto;
  opacity: 1;
  transform: scale(1);
  position: static;
  width: calc(100%);
  background-color: var(--alt-color);
  z-index: 1;
  border-radius: 8px;
  transition: var(--transition);
  padding: 0 10px 10px 0px;
} */
.blogpost_preview:hover  .small-desc-block,
.blogpost_preview.active .small-desc-block {
  height: auto;
  opacity: 1;
  transform: scale(1);
  position: static;
   position:absolute ;
  width: calc(100% + 150px);
  right: -10px;
  left: -140px;
  background-color: var(--alt-color);
  z-index: 1;
  border-radius: 8px;
  top: calc(100%);
  transition: var(--transition);
  padding: 0 10px 10px 140px;
}
.blogpost_preview:hover .blogpost_preview_img,
.blogpost_preview.active .blogpost_preview_img{
  position: relative;
  z-index: 2;
 
}
.excerpt {
  font-size: 0.9rem;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.blogpost_preview_img{
  width: 120px;
  height:80px;
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 8px;
  overflow: hidden;

}
.blogpost_preview_img>img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.stick-view{
  position:-webkit-sticky;
    position: sticky;
    top: 20px;
}
.blogpost_preview_txt{
  padding-top: 5px;
  position: relative;
  height: max-content;
  width: 100%;
}

/* end of blog post section */
.catagoty-badge li{
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
}
.catagoty-badge li a {
  display: inline-block;
  background: var(--alt-color-dark);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--alt-color);
  transition: var(--transition);
  text-decoration: none;
}
.catagoty-badge li a:hover {
  transform: scale(1.025);
}


/* Feature post */
.feature-post{
  position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.feature-post .read-more::before{
  display: none;
}
.feature-post:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0 0 0 / 90%) 10%, transparent);
  position: absolute;
  z-index: 0;
}
.video_preview_description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  color: var(--bs-white);
}
.video_preview_description a{
  color: var(--bs-white);;
}

.video_preview_description .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video_preview_description h3{
  color:var(--bs-white);
}


/* Post type */
/* Feature post */
.blog-post{
  position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.blog-post:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(0 0 0 / 90%) 10%, transparent);
  position: absolute;
  z-index: 0;
}
.blog-post.with-detail .blog-description .catagoty-badge a{
  color: var(--alt-color);
}
.blog-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  color: var(--bs-white);
}
.blog-description a.read-more{
  color: var(--bs-white);
  margin-left: 10px;
}
.read-more{
  text-decoration: none;
}
.blog-description .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* with details */
.blog-post.with-detail {

  border-radius: 10px;
  overflow: visible;
}
.blog-post.with-detail p.excerpt {
  -webkit-line-clamp: 2;
}
.blog-post.with-detail .blog-description{
  position: static;
  padding: 20px 0px;
  margin-top: 5px;
}
.blog-post.with-detail:after{
  content: none;
}
.blog-post.with-detail .image-preview {
  border-radius: 10px;
  overflow: hidden;
  
}
.blog-post.with-detail .image-preview img{
  object-fit: cover;
  object-position: center center;
  transition: var(--transition);
  width: 100%;
  height: 100%;

}

.blog-post.with-detail:hover .image-preview img{
  transform: scale(1.1);
}
.blog-post.with-detail .blog-description,
.blog-post.with-detail .blog-description a {

  color: var(--font-color);
}



.read-more{
    position: relative;
}
.read-more:before {
  content: "";
  width: 30px;
  height: 30px;
  background: var(--alt-color);
  position: absolute;
  left: -11px;
  top: -5px;
  border-radius: 30px;
  z-index: -1;
  transition: var(--transition);
}
.read-more:hover:before {
  width: calc(100% + 24px);
}
