@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600');

/* Font*/

/* font-family: 'Inter', sans-serif; */

/* Font*/

/* ====================
    Pre loader 
====================*/
#loading-mask { position: fixed; width: 100vw; height: 100ch; background: white; z-index: 99999; overflow: hidden; background-color: #000; }
#loading-mask h1 { text-align: center; color: black; padding-top: 50%; transform: translateY(-50%); }
#loading-mask .preloader { position: absolute; text-align: center; height: 20px; width: 20px; top: calc(50vh - 10px); left: calc(50vw - 10px); }
#loading-mask .c-three-dots-loader { position: relative; display: inline-block; width: 20px; height: 20px; border-radius: 50%; animation-fill-mode: both; animation: three-dots-loader-animation 2s infinite ease-in-out; animation-delay: -0.16s; color: #333; }
#loading-mask .c-three-dots-loader:before,
#loading-mask .c-three-dots-loader:after { content: ''; position: absolute; width: 20px; height: 20px; top: 0; animation: three-dots-loader-animation 2s infinite ease-in-out; border-radius: 50%; }
#loading-mask .c-three-dots-loader:before { left: -24px; animation-delay: -0.32s; }
#loading-mask .c-three-dots-loader:after { left: 24px; }
#loading-mask .load-mask-wrapper { position: absolute; text-align: center; height: 200px; width: 200px; top: calc(50vh - 100px); left: calc(50vw - 100px); }
#loading-mask .load-mask-innerDots { position: absolute; top: 6px; left: 6px; width: 100%; height: 100%; }
#loading-mask .load-mask-outerPlane { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@keyframes three-dots-loader-animation {
    0%,
    80%,
    100% { box-shadow: 0 20px 0 -24px; }
    40% { box-shadow: 0 20px 0 0; }
}


/*==========================================================================
 Custom Scroll with CSS only Supported Browser Chrome, Safari and Firefox 
 ==========================================================================*/
* { scrollbar-color: rgba(0, 0, 0, 0.3) #f0edee; scrollbar-width: thin; }
::-webkit-scrollbar-track { box-shadow: none; -webkit-box-shadow: none; background-color: #f0edee; }
::-webkit-scrollbar { width: 7px; height: 7px; background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: #6f6f6f; border-radius: 5px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
 }
/* ====================
      Root css
======================= */
:root {
  --cursor:url('images/dot.svg'), auto;
  --cursor-input:url('images/edit.svg'), auto !important;
  --font-color: #151618;
  --bg-color: #fff;
  --alt-color: #f2f0f2;
  --alt-color-dark:#151618;
  --btn-hover-effect:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
  --transition:all ease 0.3s;
  --cursor:url('images/dot.svg'), auto !important;
  --cursor-input:url('images/edit.svg'), auto !important;
}

[data-theme="dark"] {
  --cursor:url('images/dot-white.svg'), auto !important;
  --cursor-input:url('images/edit-white.svg'), auto !important;
  --bs-light-rgb: 33, 37, 41;
  --bs-dark-rgb: 40, 41, 62;
  --font-color: #e7e7e7;
  --bg-color: #1c1c27;
  --alt-color: #28293e;
  --alt-color-dark:#f2f0f2;
  --btn-hover-effect:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(229, 229, 229, 0.767) 100%);
}
body {
  
  

 
  font-family: 'Inter', sans-serif; background-color: var(--bg-color); color: var(--font-color); font-weight: 300; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-tap-highlight-color: transparent;cursor: none;
  /* background-image: url(images/bg.png);    background-attachment: fixed;
  background-size: cover; */
   overflow-x: hidden;
  } 

   
a,a:hover,button,button:hover,.btn,.btn:hover,.hover,.hover:hover,label,label:hover {
    cursor: none;
}
input,textarea,input:hover,textarea:hover{
    cursor: var(--cursor-input);
}


/* ====================
      Typography
======================= */
a,a:hover {
  color: var(--alt-color-dark);
  text-decoration: none;
}

.fw-semibold { font-weight: 500; }


h1,
.h1 { font-size: 4rem; }

/* ====================
         Common
======================= */
.section-title{
  font-size: 2rem;
  margin-bottom: 20px; 
}

section{
  padding: 100px 0 ;
}


/* Custom cursor */
/* https://codepen.io/karlovidek/pen/yvxZjO */
/* https://codepen.io/snowiewdev/pen/GRMVbpg */
/* https://blog.hubspot.com/website/animated-cursor */
.cursor,.arrow-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:var(--alt-color-dark);
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 500ms, height 500ms;
    z-index: 99999999999999;

}
.populer-block{
  position: relative;
}

.cursor.large {
    height:40px;
    width: 40px;
    background-color: transparent;
    border:2px solid var(--alt-color-dark);
    /* background-color: ; */
    /* background-color:var(--alt-color-dark);
    opacity: 0.6; */
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
    backdrop-filter: invert(1);
}
img.cursor.large {
  backdrop-filter: inherit;
}
/* =======================
        Boostrap fixes
========================= */
@media only screen and (min-width:1200px) {
    .container { max-width: calc(100% - 16vw); }
}


img,svg{
  max-width: 100%;
  height: auto;
}

 input, optgroup, select, textarea,.form-control{
  color: var(--font-color);
  background-color: var(--alt-color);
  border-color: var(--alt-color) ;
}




.form-control:focus {
    color: var(--font-color);
    background-color: var(--alt-color);
    border-color: var(--alt-color) ;
    outline: 0;
    box-shadow:none;
}
.btn{
  position: relative;
  overflow: hidden;
  transition: var(--transition);
  border-radius: 100px;
}
.btn:hover {
  transform: scale(0.97);
}
.btn:hover:after{
     position: absolute;
    top: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 120%;
    background: var(--btn-hover-effect);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    animation: shine 3s infinite;
}
.btn-transparant{
  background: transparent;
  border: 0;
  padding: 0;
}
@keyframes shine {0%{left: -75%; } 100% {left: 125%; } }
/* Button animation */









/* ===============
      Common 
================== */

.content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===============
   Componanant
================== */

/* subscribtion */
.subscribe-form { background: var(--alt-color); display: inline-block; border-radius: 100px;    font-size: 1.2rem; }
.subscribe-form input { background: transparent; border: 0; padding: 15px 30px;max-width: 250px; }
.subscribe-form .btn {
    border-radius: 100px;
    padding: 15px 30px;
    font-size: 1.2rem;
}
.subscribe-form-caption{
  margin-left: 20px;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* aurther list */
.image-outer{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border: 4px solid var(--bg-color);
  display: inline-block;
  transition: var(--transition);
}

.aurther-list a {
  margin-left: -25px;
  position: relative;
  display: inline-block;
  transition: var(--transition);
}
.aurther-list a:hover{
    transform: scale(1.08);
    z-index: 2;
}
.aurther-list a:first-child{
  margin-left: 0;
}
.image-outer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}



/* Navbar */


.l-search{
    width: 100%;
    height: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition:all linear 0.6s;
    z-index: 9999;
    background:var(--bg-color);
    -webkit-transform: scale(0);
          transform: scale(0);
          height: 100%;
          width: 100%;
}
.l-search.open{

    -webkit-transform: scaleY(0.01) scaleX(0);
          transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          overflow: auto;

}
.l-search.close{
  
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


@-webkit-keyframes unfoldIn {
    0% {
      -webkit-transform: scaleY(0.005) scaleX(0);
              transform: scaleY(0.005) scaleX(0);
      
    }
    50% {
      -webkit-transform: scaleY(0.005) scaleX(1);
              transform: scaleY(0.005) scaleX(1);
      
    }
    100% {
      -webkit-transform: scaleY(1) scaleX(1);
              transform: scaleY(1) scaleX(1);
              
    }
  }
  
  @keyframes unfoldIn {
    0% {
      -webkit-transform: scaleY(0.005) scaleX(0);
              transform: scaleY(0.005) scaleX(0);
    }
    50% {
      -webkit-transform: scaleY(0.005) scaleX(1);
              transform: scaleY(0.005) scaleX(1);
    }
    100% {
      -webkit-transform: scaleY(1) scaleX(1);
              transform: scaleY(1) scaleX(1);
    }
  }

  @-webkit-keyframes unfoldOut {
    0% {
      -webkit-transform: scaleY(1) scaleX(1);
              transform: scaleY(1) scaleX(1);
    }
    50% {
      -webkit-transform: scaleY(0.005) scaleX(1);
              transform: scaleY(0.005) scaleX(1);
    }
    100% {
      -webkit-transform: scaleY(0.005) scaleX(0);
              transform: scaleY(0.005) scaleX(0);
    }
  }
  @keyframes unfoldOut {
    0% {
      -webkit-transform: scaleY(1) scaleX(1);
              transform: scaleY(1) scaleX(1);
    }
    50% {
      -webkit-transform: scaleY(0.005) scaleX(1);
              transform: scaleY(0.005) scaleX(1);
    }
    100% {
      -webkit-transform: scaleY(0.005) scaleX(0);
              transform: scaleY(0.005) scaleX(0);
    }
  }
.l-search{
  padding: 80px 0;
}
  .m-search-form{
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }
  .m-search-form span.material-icons.material-icons-outlined {
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      color: var(--alt-color);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .m-search-form .form-control{
    background: var(--alt-color-dark);
    border-radius: 50px;
    height: 60px;
    padding-left: 50px;
    color: var(--alt-color);
  }
  button.btn.btn-link.search-close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--font-color);
  }